{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> {#VisitDate Datepicker#}

    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="well">Ceci est la page de billetterie {{ app.request.attributes.get('_route') }}</h1>

    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}

    {{ form_start(form) }}

    {{ form_errors(form) }}
    <div class="container-fluid">
        <div class="row">
            {{ form_row(form.visitDate) }}

            {{ form_row(form.duration) }}

            {{ form_row(form.bookingEmail) }}
        </div>

        {{ form_row(form.tickets, {'attr': {'class': 'row'}}) }}

    </div>

    {{ form_rest(form) }}

    <input type="submit" value="Réserver">

    {{ form_end(form) }}


    <a href="#" id="add_ticket" class="btn btn-outline-secondary btn-sm">Ajouter un ticket</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> {#VisitDate Datepicker#}
    <script src="js/script.js"></script>
{% endblock %}
