{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> {#VisitDate Datepicker#}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div  class="row">
        <div class="pageTitle col-12">

            <h2 class="well">Billetterie du Musée du Louvre</h2>

            {% for message in app.session.flashbag.get('notice') %}
                <p>{{ message }}</p>
            {% endfor %}

            {#{{ form_start(form) }}

            {{ form_errors(form) }}#}
        </div>
    </div>
    <div  class="row">
        <div class="col-12">
            <div class="container-fluid">
                {{ form_start(form) }}

                {{ form_errors(form) }}
                <div class="row align-items-end">

                    {{ form_row(form.visitDate) }}

                    {{ form_row(form.duration) }}

                    {{ form_row(form.bookingEmail) }}
                </div>

                {{ form_row(form.tickets, {'attr': {'class': 'row'}}) }}
            </div>
        </div>
    </div>
    <div  class="row">
        <div class="col-12 col-sm-auto">

            {{ form_rest(form) }}

            <input type="submit" value="Réserver">

            {{ form_end(form) }}
        </div>
        <div class="col-12 col-sm-auto">

            <a href="#" id="add_ticket" class="btn btn-outline-secondary btn-sm">Ajouter un ticket</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> {#VisitDate Datepicker#}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
