{% extends 'base.html.twig' %}

{% block title %}Validation de la commande{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('error') %}
        <p>{{ message }}</p>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>Vous êtes sur le point de réserver <span class="bold">{{ ticketOrder.tickets|length }} ticket(s).</span></p>
                <p><span class="bold">Date de visite :</span> {{ ticketOrder.visitDate|date('d/m/Y') }}</p>
                <p><span class="bold">Durée de la visite :</span> {{ ticketOrder.duration.translateDuration }}</p>
                <p><span class="bold">Prix total de la commande :</span> {{ ticketOrder.totalPrice }} euros</p>
            </div>
        </div>
        <div class="row">
            {% for ticket in ticketOrder.tickets %}
                <div class="prepareTickets col-xs-12 col-md-4">
                    <div class="prepareTicket card card-body bg-light">
                        <p><span class="bold">Identité du visiteur :</span> {{ ticket.visitorFirstName }} {{ ticket.visitorName }}<br>
                            <span class="bold">Age du visiteur :</span> {{ date(ticketOrder.orderDate).diff(ticket.visitorBirthdate).y }}<br>
                            <span class="bold">Réduction :</span> {{ ticket.discount.discountDescription }}<br>
                            <span class="bold">Pays :</span> {{ ticket.country|country }}<br>
                            <span class="bold">Prix du ticket :</span> {{ ticket.ticketPrice }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <form action="{{ path('order_checkout') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_public_key }}"
                data-amount="{{ 100*ticketOrder.totalPrice }}"
                data-name="Louvre"
                data-description="Paiement de votre commande"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur"
                data-email="{{ ticketOrder.bookingEmail }}">
        </script>
    </form>
{% endblock %}