{% extends 'base.html.twig' %}

{% block title %}Validation de la commande{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('error') %}
        <p>{{ message }}</p>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>Vous êtes sur le point de réserver {{ ticketOrder.tickets|length }} ticket(s).</p>
                <p>Date de visite : {{ ticketOrder.visitDate|date('d/m/Y') }}</p>
                <p>Durée de la visite : {{ ticketOrder.duration.translateDuration }}</p>
                <p>Prix total de la commande : {{ ticketOrder.totalPrice }} euros</p>
            </div>
        </div>
        <div class="row">
            {% for ticket in ticketOrder.tickets %}
                <div class="col-xs-12 col-md-4 card card-body bg-light">
                    Identité du visiteur : {{ ticket.visitorFirstName }} {{ ticket.visitorName }}<br>
                    Age du visiteur : {{ date(ticketOrder.orderDate).diff(ticket.visitorBirthdate).y }}<br>
                    Réduction : {{ ticket.discount.discountDescription }}<br>
                    Pays : {{ ticket.country|country }}<br>
                    Prix du ticket : {{ ticket.ticketPrice }}<br>
                </div>
            {% endfor %}
        </div>
    </div>

    <form action="{{ path('order_checkout') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ stripe_public_key }}"
                data-amount="{{ 100*ticketOrder.totalPrice }}"
                data-name="Louvre"
                data-description="Paiement de votre commande"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur"
                data-email="{{ ticketOrder.bookingEmail }}">
        </script>
    </form>
{% endblock %}