{% extends 'base.html.twig' %}

{% block title %}Validation de la commande{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('error') %}
        <p>{{ message }}</p>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                Vous êtes sur le point de réserver {{ ticketOrder.tickets|length }} ticket(s).
                Date de visite : {{ ticketOrder.visitDate|date("d/m/Y") }}
                Durée de la visite : {% if ticketOrder.duration.name == "day" %}Journée{% else %}Demie journée{% endif %}
            </div>
        </div>
    </div>

    <form action="{{ path('order_checkout') }}" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_PH40Dvq2u7OBi6C3oA2rvZXe"
                data-amount="{{ 100*ticketOrder.totalPrice }}"
                data-name="Louvre"
                data-description="Paiement de votre commande"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur"
                data-email="{{ ticketOrder.bookingEmail }}">
        </script>
    </form>
{% endblock %}